@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181818;
  --primary: #CA5202;
  --off-white:"#FAFAFA"
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary:var(--primary);
  --font-inter: var(--font-inter);
  --font-instrument-serif: var(--font-instrument-serif);
}

@layer components{
  .button-primary{
    @apply bg-primary lg:py-3 py-2 rounded-md text-background lg:px-4 px-3 capitalize cursor-pointer;
  }
  .button-secondary{
    @apply border-1 border-primary lg:py-3 py-2 rounded-md text-primary lg:px-4 px-3 capitalize cursor-pointer;
  }
}

